.promo-section {
    padding: 40px 20px;
}

.promo-banner-image img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.promo-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .promo-banner {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}